<table class="table table-bordered table-hover">
    <thead class="table">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Product</th>
        <th scope="col">Finish</th>
      </tr>
    </thead>
    <tbody>
     <!--- <tr *ngFor="let item of data">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.user }}</td>
        <td>{{ item.product }}</td>
        <td><button class="btn btn-primary">Finish Order</button></td>
      </tr>-->
    </tbody>
  </table>
  