<body>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div *ngFor="let product of productsInCart">
        <div class="row justify-content-center mb-3">
          <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <img src="{{product.photo}}" class="w-100" />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <h4>{{product?.name}}</h4>
                    <div>
                      <p>Category: {{product.category.naziv}} </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">{{product.price}}.00 BAM</h4>
                    </div>
                    <div class="d-flex flex-column mt-2">
                      <button class="btn btn-outline-dark btn-sm" type="button"
                        [routerLink]="['/product', product.id]">Details</button>
                      <button class="btn btn-dark btn-sm mt-2" type="button" (click)="removeFromCart()">Remove
                        from cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="col" style="float:right">
        <h3>Total price: {{totalPrice}}.00 BAM</h3>
        <button class="btn btn-outline-dark btn-lg float-sm" style="float:right"
          [routerLink]="['/finish-order']">Procede to checkout</button>
      </div>
    </div>
  </section>
</body>