<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forma</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid bg-light">
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="col-md-6">
        <form>
          <div class="mb-4">
              <label for="inputDate" class="form-label">Izaberite datum rezervacije:</label>
              <input type="date" class="form-control" id="inputDate">
          </div>
          <button type="submit" class="btn btn-secondary">Rezervisite produkt</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
