<section style="background-color: #eee;">
  <div class="text-center container py-5">
    <div class="row">
      <div *ngFor="let product of shoeList" class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <img src="{{product.photo}}" class="w-100" />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a [routerLink]="['/product', product.id]" class="text-reset">
              <h5 class="card-title mb-3">{{product.name}}</h5>
            </a>
            <a href="" class="text-reset">
              <p>Category: {{product.category}}</p>
            </a>
            <h6 class="mb-3">{{product.price}}.00 BAM</h6>
            <div class="col">
              <button class="btn btn-dark" style="margin-right: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" className="bi bi-cart mr-1" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg> Add to cart</button>
              <button class="btn btn-dark">Buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>