<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card position-relative" style="border-radius: 15px;">
            <a href="#" class="position-absolute top-0 start-0 p-3 text-decoration-none text-dark">
              <i class="fas fa-times"></i>
            </a>
            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://snaggles2travel.co.uk/gsite/qazxsw/fladon_b/79388-cl-kineske-pranje-zenske-sandale-na-petu-jodie.jpg"
                style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
                alt="Laptop" />
              <a href="#!">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <div>
                  <p><a href="#!" class="text-dark">Product name</a></p>
                  <p class="small text-muted">Category</p>
                </div>
                <div>
                  <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="small text-muted">Color: brown</p>
                </div>
              </div>
            </div>
            <hr class="my-0" />
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <p><a href="#!" class="text-dark">Product price</a></p>
                <p class="small text-muted">Composition: leather</p>
              </div>
              <div class="row justify-content-end">
                <div class="col-md-6">
                  <div class="mb-3">
                    <select class="form-select" id="shoeSize">
                      <option selected disabled>Choose size</option>
                      <option value="s">S</option>
                      <option value="m">M</option>
                      <option value="l">L</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                <i class="fas fa-trash"></i>
                <button type="button" class="btn btn-secondary">Make a reservation</button>
                <button type="button" class="btn btn-primary">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
