<div class="wrapper">
  <div class="logo">
      <img src="https://t4.ftcdn.net/jpg/03/06/45/49/360_F_306454929_NS822CwLPz4iVr89KOOhyVpBZu5uV3cj.jpg" alt="">
  </div>
  <div class="text-center mt-4 name">
      Shoe shop
  </div>
  <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="email" id="emial" placeholder="Email">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="Password">
      </div>
      <div class="boja">
        <button type="button" class="btn btn-danger">Login</button>
    </div>
      
  </form>
  <div class="text-center fs-6">
      <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>