<section class="vh-100" style="background-color: #a4a4a4;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://i.pinimg.com/564x/91/8c/24/918c247480ae0abae0d638549aa2aedc.jpg" alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="https://www.freeiconspng.com/thumbs/running-icon/running-shoe-icon-31.png"
                      style="width: 60px; height: 60px; margin-right: 20px;">
                    <span class="h1 fw-bold mb-0">Shoe Shop</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>
                  <div class="row mt-3">
                    <div class="col-md-12 mt-1">
                      <input type="text" class="form-control" formControlName="name">
                      <label class="labels">Full Name</label>
                    </div>
                    <div class="col-md-12 mt-1">
                      <input type="text" class="form-control" formControlName="email">
                      <label class="labels">Email</label>
                    </div>
                    <div class="col-md-12 mt-1">
                      <input type="password" class="form-control" formControlName="password">
                      <label class="labels">Password</label>
                    </div>
                    <div class="col-md-12 mt-1">
                      <input type="text" class="form-control" formControlName="phoneNumber">
                      <label class="labels">Phone Number</label>
                    </div>
                    <div class="col-md-12 mt-1">
                      <input type="text" class="form-control" formControlName="address">
                      <label class="labels">Address</label>
                    </div>
                  </div>
                  <div class="mt-5 text-center">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" [disabled]="profileForm.invalid"
                      (click)="register()">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>