
<body>
  <div class="container-fluid bg-light">
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="col-md-6">
        <form>
          <div class="mb-4">
            <label for="inputLabel" class="form-label">Unesite adresu za narudzbu:</label>
            <input type="text" class="form-control" id="inputLabel">
          </div>
          <button type="submit" class="btn btn-secondary">Zavrsi narudzbu</button>
        </form>
      </div>
    </div>
  </div>
</body>
