<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
           
            <div class="card">
               
                <form class="form-card" onsubmit="event.preventDefault()">
                    <p class="naziv">Create product</p>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname"  > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Gender<span class="text-danger"> *</span></label>
                         <select id="size" name="size" class="form-control">
                            <option value="">Select gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="kids">Kids</option>
                          </select> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Structure<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Color<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <p class="naziv">Create state</p>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Size<span class="text-danger"> *</span></label> 
                            <select id="size" name="size" class="form-control">
                                <option value="">Select size</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                              </select> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Price<span class="text-danger"> *</span></label> <input type="number" id="mob" name="mob" placeholder="BAM" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Percent of sale<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Choose category<span class="text-danger"> *</span></label> 
                            <select id="size" name="size" class="form-control">
                                <option value="">Select category</option>
                                <option value="male">Sandals</option>
                                <option value="female">Elegant shoes</option>
                              </select> 
                            </div>     
                    </div>
                  
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Submit</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>